{{ 'countdown.css' | asset_url | stylesheet_tag }}

<div class="countdown-sale">
  <div class="countdown-sale__image-wrapper">
    {%- if section.settings.image != blank -%}
      <picture>
        {%- if section.settings.mobile_image != blank -%}
          <source
              media="(max-width: 699px)"
              srcset="{{ section.settings.mobile_image | image_url: width: 400 }} 400w, {{ section.settings.mobile_image | image_url: width: 600 }} 600w, {{ section.settings.mobile_image | image_url: width: 800 }} 800w, {{ section.settings.mobile_image | image_url: width: 1000 }} 1000w"
              width="{{ section.settings.mobile_image.width }}"
              height="{{ section.settings.mobile_image.height }}"
          >
        {%- endif -%}

        {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: widths: '400,500,600,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000', class: 'countdown-sale__image', sizes: '100vw' -}}
      </picture>
    {%- else -%}
      {%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
      {{- placeholder | placeholder_svg_tag: 'countdown-sale__image placeholder' | replace: '<svg', '<svg class="countdown-sale__image" preserveAspectRatio="xMinYMin slice"' -}}
    {%- endif -%}

    <div class="countdown-sale__overlay" style="background: {{ section.settings.overlay_color }}; opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};"></div>

    <div class="countdown-sale__content">
      {%- if section.settings.badge_text != blank -%}
        <div class="countdown-sale__badge">{{ section.settings.badge_text }}</div>
      {%- endif -%}

      {%- if section.settings.title != blank -%}
        <h2 class="countdown-sale__title">{{ section.settings.title }}</h2>
      {%- endif -%}

      {%- if section.settings.subtitle != blank -%}
        <p class="countdown-sale__subtitle">{{ section.settings.subtitle }}</p>
      {%- endif -%}

      {%- assign accessibility_expiration_date = section.settings.expiration_date | date: format: 'date_at_time' -%}
      {%- assign accessibility_text = 'sections.countdown_timer.expires_accessibility_text' | t: expiration_date: accessibility_expiration_date -%}

      <countdown-timer class="countdown-sale__timer" role="timer" aria-label="{{ accessibility_text | escape }}" expires-at="{{ section.settings.expiration_date | date: '%FT%T%:z' | escape }}" expiration-behavior="{{ section.settings.expiration_behavior }}">
        <div class="countdown-sale__timer-item" aria-hidden="true">
          <div class="countdown-sale__timer-box">
            <countdown-timer-flip type="days" {% if section.settings.animate_number %}animate{% endif %} class="countdown-sale__timer-number">00</countdown-timer-flip>
          </div>
          <span class="countdown-sale__timer-label">{{ 'sections.countdown_timer.days_long' | t }}</span>
        </div>

        <div class="countdown-sale__timer-item" aria-hidden="true">
          <div class="countdown-sale__timer-box">
            <countdown-timer-flip type="hours" {% if section.settings.animate_number %}animate{% endif %} class="countdown-sale__timer-number">00</countdown-timer-flip>
          </div>
          <span class="countdown-sale__timer-label">{{ 'sections.countdown_timer.hours_long' | t }}</span>
        </div>

        <div class="countdown-sale__timer-item" aria-hidden="true">
          <div class="countdown-sale__timer-box">
            <countdown-timer-flip type="minutes" {% if section.settings.animate_number %}animate{% endif %} class="countdown-sale__timer-number">00</countdown-timer-flip>
          </div>
          <span class="countdown-sale__timer-label">{{ 'sections.countdown_timer.minutes_long' | t }}</span>
        </div>

        <div class="countdown-sale__timer-item" aria-hidden="true">
          <div class="countdown-sale__timer-box">
            <countdown-timer-flip type="seconds" {% if section.settings.animate_number %}animate{% endif %} class="countdown-sale__timer-number">00</countdown-timer-flip>
          </div>
          <span class="countdown-sale__timer-label">{{ 'sections.countdown_timer.seconds_long' | t }}</span>
        </div>
      </countdown-timer>

      {%- if section.settings.button_text != blank -%}
        <a href="{{ section.settings.button_link }}" class="countdown-sale__button">{{ section.settings.button_text }}</a>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.countdown_timer.name",
  "class": "shopify-section--countdown",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "t:global.section.separate_section_with_border",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:global.image.image",
      "info": "t:sections.countdown_timer.image_recommendation"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:global.image.mobile_image",
      "info": "t:sections.countdown_timer.mobile_image_recommendation"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "t:global.image.size",
      "options": [
        {
          "value": "auto",
          "label": "t:global.sizes.original_image_ratio"
        },
        {
          "value": "xs",
          "label": "t:global.sizes.x_small"
        },
        {
          "value": "sm",
          "label": "t:global.sizes.small"
        },
        {
          "value": "md",
          "label": "t:global.sizes.medium"
        },
        {
          "value": "lg",
          "label": "t:global.sizes.large"
        }
      ],
      "info": "t:global.image.ratio_avoid_cropping_info",
      "default": "auto"
    },
    {
      "type": "text",
      "id": "badge_text",
      "label": "Badge text",
      "default": "Limited Time Only"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:global.text.heading",
      "default": "Super Sale Up to 40% Off"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Shop our selection of exclusive products at reduced prices"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:global.text.button_link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:global.text.button_text",
      "default": "Shop Now"
    },
    {
      "type": "header",
      "content": "t:sections.countdown_timer.timer_category",
      "info": "t:sections.countdown_timer.timezone_information"
    },
    {
      "type": "text",
      "id": "expiration_date",
      "label": "t:sections.countdown_timer.expiration_date",
      "placeholder": "Eg. 2025-12-25 12:00",
      "info": "t:sections.countdown_timer.expiration_date_info"
    },
    {
      "type": "select",
      "id": "expiration_behavior",
      "label": "t:sections.countdown_timer.expiration_behavior",
      "options": [
        {
          "value": "hide",
          "label": "t:sections.countdown_timer.expiration_behavior_options.hide"
        },
        {
          "value": "leave",
          "label": "t:sections.countdown_timer.expiration_behavior_options.leave"
        }
      ],
      "default": "leave"
    },
    {
      "type": "checkbox",
      "id": "animate_number",
      "label": "t:sections.countdown_timer.animate_number",
      "default": true
    },
    {
      "type": "header",
      "content": "t:global.colors.category"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:global.colors.overlay_color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:global.colors.overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 30
    }
  ],
  "presets": [
    {
      "name": "t:sections.countdown_timer.presets.countdown_timer.name",
      "category": "t:global.categories.call_to_action"
    }
  ]
}
{% endschema %}
